  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.titulo{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 580px 1fr;
  align-items: flex-start;
  justify-content: center;
}

img {
  border-radius: 3px;
  max-width: 100%;
  object-fit: cover;
}

.first__section {
  margin-bottom: 30px;
}

.first__section p {
  margin: 15px 0;
}

.second__section img {
  max-width: 200px;
}

.second__section {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
