.adminViewerContainer {
    display: block;
    overflow-x: auto;
}

    table.adminViewer {
        text-align: center;
        max-width: 100%;
    }

            table.adminViewer th {
                text-align: center;
            }

            table.adminViewer td {
                text-align: justify;
            }

            table.adminViewer th, table.adminViewer td {
                padding: 10px;
            }

            table.adminViewer td {
                max-height: 30px;
            }

            table.adminViewer tbody tr {
                height: 30px;
                overflow: hidden;
            }

