.navbar{
    margin: 10px;
    border-radius: 15px;
}
.nav-link{
    transition: all 0.5s;
    border-radius: 10px;
}
.nav-link:hover{
    margin: 0px 10px 0px 10px;
    background: white;
    color: black;
    border-radius: 10px;
}
.btn{
    border-style: none;
    background-color: rgb(112, 112, 112);
    transition: all 0.5s;
}

.btn:hover{
    color: rgb(238, 238, 238);
    background-color: transparent;
    font-size: 19px;
}