/* MVV = MISION, VISION, VALORES */

  .MVVCard-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .MVVCard { 
    flex: 1; 
    margin: 10px; 
  }
  
  .separator{
    background-color: rgb(78, 78, 78);
    width: 90vw;
    height: 4px;
    margin-bottom: 50px;
    border-radius: 200px;
  }

  .separatorcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }